/*header*/

header h1{
    text-align: center; }

header p{
    text-align: center;}

header h2{text-align: center; margin-top: 60px;}

/*vision and mission*/




/*navigation*/

#navigation{
    display: flex; 
    flex-direction:row;
    flex-wrap: nowrap ;
    justify-content: space-around ;
    align-items: center; 
    background-color: black; 
    height: 40px;
    margin-bottom: 10px;}

#navigation a {
    color: white; 
    font-weight: bold; 
    text-decoration: none;} 



/*common workshops*/
#common-workshops{
    display: flex; 
    flex-direction:row; 
    flex-wrap: nowrap ; 
    justify-content: center;
    align-items: center;
     
}



        /*.container {
            display: flex;
            flex-direction:row; 
            flex-wrap: wrap ;
            justify-content: space-around;
            align-items: center; }*/


        /*Reviws*/

        #Reviews{
            display: flex;
            flex-direction:row;
            flex-wrap: wrap ;
            justify-content: space-around ;
            align-items: center;}

        #Reviews .review {
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
            padding: 20px ;
            height: 300px;
            overflow: auto;}


        





            /* Aroub's*/ 


    
      .rate-row {
      display: flex;
      justify-content:flex-start; /* left text, right stars */
      align-items: flex-start;
      /*width: 100%;*/
      margin: 0;
    }


    .rate-label {
      font-weight: bold;
      font-size: 16px;
      line-height:2.5;
    }
    
    .rating-stars {
        display: flex;
        /* This makes the stars appear in the correct order (1-5) even though
            the HTML is reversed (5-1). This is the key to the CSS trick. */
        flex-direction: row-reverse;
        justify-content: flex-start; /* Aligns stars to the right */
        border: 0;
        padding: 0;
        margin: 0;
    }

    /* Hide the actual radio buttons */
    .rating-stars input[type="radio"] {
        display: none;
    }

    /* Style the star labels */
    .rating-stars label {
        font-size: 1.8rem; /* 36px */
        line-height: 2.5rem; /* 40px */
        color: #f59e0b; /* Tailwind's gray-400 */
      
    }
    

