/* =================================
         Manage Staff Members
   ================================= */

form {display: flex;
      flex-wrap: wrap;
     align-items: normal;}

.staff-members{display: flex;
               border: 1px solid ;
               border-radius: 0.3em;
               margin: 2%;
               padding: 0.2em 0.4em;
               width: 15em;
               height: 5em;
               align-items: center; 
               justify-content: space-between;}

.staff-members i{font-size:3em;}   

.staff-members span {font-size: 1.2em;}


.staff-members input[type="checkbox"] {transform: scale(1.5);
                                       accent-color: rgb(42, 41, 41);}
                                        
